{% set id = year %}
{% include 'page_header.html' %}
<div class="h-full grid grid-cols-1 gap-4 content-around p-4">
    <div class="flex gap-2 text-2xl font-semibold pl-3">
        <p>{{ year }}</p>
        <p class="text-indigo-600">Planner</p>
    </div>
    <div class="grid grid-cols-4 gap-4 place-content-stretch font-medium h-2/3 p-2">
        {% for month_name in calendar.month_name[1:] -%}
            {% set month_num = loop.index %}
            <div class="content-box">
                <a href="#{{ year }}-{{ '%02d' % month_num }}">
                    <div class="pl-3 mb-2 text-xl">{{ month_name }}</div>
                </a>
                <div class="grid grid-cols-8 gap-4 text-slate-400 text-sm mb-1">
                    <div></div>
                    {% for abbr in calendar.day_abbr -%}
                        <div>{{ abbr }}</div>
                    {% endfor -%}
                </div>
                <div class="grid grid-cols-8 gap-4 text-center">
                    {% for week in calendar.Calendar().monthdatescalendar(year, month_num) -%}
                        <div class="{{ "text-sky-300" if week[0].year != week[-1].year else "text-sky-500" }}">
                            {% set week_num = week[0].isocalendar().week %}
                            <a href="#{{ (week[0].year if week[-1].year != (year + 1) else week[-1].year) ~ '-' ~ ('W%02d' % week_num) }}">
                                {{ week[0].isocalendar().week }}
                            </a>
                        </div>
                        {% for date in week -%}
                            <div>
                                {% if date.month == month_num %}
                                    <a href="#{{ ('%02d-%02d-%d' % (date.day, date.month, date.year)) }}">
                                        {{ date.day }}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor -%}
                    {% endfor -%}
                </div>
            </div>
        {% endfor -%}
    </div>
    {% set curr_template = "calendar" %}
    {% include 'page_footer.html' %}
</div>