<div class="w-gn-landscape h-gn-landscape break-after-page relative bg-gradient-to-br from-purple-200 via-indigo-400 to-violet-600">
    <div class="flex justify-center gap-10 pt-80 font-bold text-white text-[15rem] text-center drop-shadow-2xl tracking-widest">
        <p class="w-[20rem] skew-x-6 skew-y-6">
            2
        </p>
        <p class="w-[20rem] -skew-x-6 -skew-y-6 translate-y-3">
            0
        </p>
        <p class="w-[20rem] skew-x-6 skew-y-6">
            2
        </p>
        <p class="w-[20rem] -skew-x-6 -skew-y-6 translate-y-3">
            3
        </p>
    </div>
</div>