{% for month_num in range(1, 13) -%}
    {% set months_loop = loop %}
    {% for week in calendar.Calendar().monthdatescalendar(year, month_num) -%}
        {% for date in week -%}
            {% set id = ('%02d-%02d-%d' % (date.day, date.month, date.year)) %}
            {% include 'page_header.html' %}
            <div class="h-full content-around p-4">
                <div class="flex justify-between text-2xl mb-4">
                    <div class="flex gap-2 font-semibold pl-3">
                        <p>{{ week[0].year }}</p>
                        <img src="../src/icons/arrow-right.svg" width="25px"/>
                        <p>{{ calendar.month_name[week[0].month] }}</p>
                        <img src="../src/icons/arrow-right.svg" width="25px"/>
                        <p>{{ week[0].day ~ ' - ' ~ week[-1].day }}</p>
                        <img src="../src/icons/arrow-right.svg" width="25px"/>
                        <p class="text-indigo-600">{{ date.day ~ " " ~ calendar.day_name[loop.index0] }}</p>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 text-xl font-semibold">
                    <div class="p-4 rounded-xl shadow-inner bg-zinc-200">
                        Daily plan
                        <div class="grid divide-y divide-slate-300 divide-dashed">
                            {% for hour in range(7, 22) -%}
                                <div class="p-4">{{ hour }}:00</div>
                            {% endfor %}
                            <div></div>
                        </div>
                    </div>
                    <div class="grid gap-y-4">
                        <div class="h-[8rem] p-4 rounded-xl shadow-inner bg-zinc-200">Daily main focus</div>
                        <div class="h-[27rem] p-4 rounded-xl shadow-inner bg-zinc-200">
                            Tasks
                            <div class="grid grid-cols-2 gap-4">
                                <div class="h-5/6 grid divide-y divide-slate-300 divide-dashed">
                                    {% for _ in range(7) -%}
                                        <div class="p-3">⚪️</div>
                                    {% endfor %}
                                    <div></div>
                                </div>
                                <div class="h-5/6 grid divide-y divide-slate-300 divide-dashed">
                                    {% for _ in range(7) -%}
                                        <div class="p-3">⚪️</div>
                                    {% endfor %}
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="h-[24rem] p-4 rounded-xl shadow-inner bg-zinc-200">Notes</div>
                    </div>
                </div>
                {% include 'page_footer.html' %}
            </div>
        {% endfor -%}
    {% endfor -%}
{% endfor -%}