{% import 'components/calendar_page_header.html' as cph %}
{% import 'components/calendar_pages_navigation.html' as cpn %}
{% for month_num in range(1, 13) -%}
    {% set months_loop = loop %}
    {% for week in calendar.Calendar().monthdatescalendar(year, month_num) -%}
        {% set weeks_loop = loop %}
        {% for date in week -%}
            {% set id = ('%02d-%02d-%d' % (date.day, date.month, date.year)) %}
            {% include 'page_header.html' %}
            <div class="h-full content-around p-4">
                <div class="flex justify-between mb-3">
                    {{ cph.calendar_page_header([
                            week[0].year,
                            calendar.month_name[week[0].month],
                            week[0].day ~ ' - ' ~ week[-1].day,
                            date.day ~ " " ~ calendar.day_name[loop.index0]
                    ]) }}
                    {% set prev_date = date - timedelta(days=1) %}
                    {% set next_date = date + timedelta(days=1) %}
                    {{ cpn.calendar_pages_navigation(
                            not (months_loop.first and weeks_loop.first and loop.first),
                            ('%02d-%02d-%d' % (prev_date.day, prev_date.month, prev_date.year)),
                            not (months_loop.last and weeks_loop.last and loop.last),
                            ('%02d-%02d-%d' % (next_date.day, next_date.month, next_date.year))
                    ) }}
                </div>
                <div class="grid grid-cols-2 gap-4 text-xl font-semibold">
                    <div class="content-box">
                        Daily plan
                        <div class="grid divide-y divide-slate-300 divide-dashed">
                            {% for hour in range(7, 22) -%}
                                <div class="py-4">
                                    <p class="w-[3rem] text-right font-medium text-md text-slate-600 dark:text-slate-400">{{ hour }}:00</p>
                                </div>
                            {% endfor %}
                            <div></div>
                        </div>
                    </div>
                    <div class="grid gap-y-4">
                        <div class="h-[8rem] content-box">Daily main focus</div>
                        <div class="h-[27rem] content-box">
                            Tasks
                            <div class="grid grid-cols-2 gap-6">
                                {% for _ in range(2) -%}
                                    <div class="h-5/6 grid divide-y divide-slate-300 divide-dashed">
                                        {% for _ in range(6) -%}
                                            <div class="px-2 py-3">
                                                <div class="shadow-inner rounded-full border-4 w-[1.75rem] h-[1.75rem]"></div>
                                            </div>
                                        {% endfor %}
                                        <div></div>
                                    </div>
                                {% endfor %}
                                <div class="col-span-2 flex justify-end gap-2 h-[2rem]">
                                    <p class="flex items-center font-medium text-md text-slate-400">Not today? Add to Someday</p>
                                    <a href="#inbox">
                                        <img src="../src/icons/plus-circle.svg" width="30px"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="h-[24rem] content-box">Notes</div>
                    </div>
                </div>
                {% set curr_template = "calendar" %}
                {% include 'page_footer.html' %}
            </div>
        {% endfor -%}
    {% endfor -%}
{% endfor -%}