{% import 'components/calendar_page_header.html' as cph %}
{% import 'components/calendar_pages_navigation.html' as cpn %}
{% for _month_num in range(1, 13) %}
    {% set id = 'habits-' ~ _month_num %}
    {% include 'page_header.html' %}
    <div class="h-full grid grid-cols-1 gap-2 content-around p-3">
        <div class="flex justify-between mb-1">
            {{ cph.calendar_page_header([
                'Habitudes',
                calendar.month_name[_month_num]
            ]) }}
            {{ cpn.calendar_pages_navigation(
                    not loop.first,
                    'habits-' ~ (_month_num - 1),
                    not loop.last,
                    'habits-' ~ (_month_num + 1)
            ) }}
        </div>
        <div class="content-box text-md">
            <div class="ml-[9rem] flex justify-around mb-2">
               {% for day in calendar.Calendar().itermonthdays(year, _month_num) %}
                   {% if day != 0 %}
                       <div class="w-[1.5rem] text-center">
                           <a href="#{{ '%02d-%02d-%d' % (day, _month_num, year) }}">
                               {{ day }}
                           </a>
                       </div>
                   {% endif %}
                {% endfor %}
            </div>
            {% for _ in range(7) %}
                <div class="h-[4rem] {{ "bg-indigo-50 dark:bg-indigo-900" if loop.index0 % 2 == 0 }} rounded-xl">
                    <div class="flex justify-around">
                        <div class="w-[9rem] mt-10 pl-3">
                            <hr width="90%"/>
                        </div>
                        {% for day in calendar.Calendar().itermonthdays(year, _month_num) %}
                           {% if day != 0 %}
                               <img src="../src/icons/star.svg" class="py-[1rem] dark:invert" width="30px"/>
                           {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="content-box h-[11rem] text-md font-semibold">Notes</div>
        {% set curr_template = "habits" %}
        {% include 'page_footer.html' %}
    </div>
{% endfor %}