{% set id = "inbox" %}
{% include 'page_header.html' %}
<div class="h-full grid grid-cols-1 gap-4 content-around p-4">
    <p class="pl-3 text-2xl font-semibold text-indigo-600">Someday</p>
    <div class="grid grid-cols-3 gap-4 place-content-stretch text-xl font-semibold h-2/3 p-2">
        {% for _ in range(9) -%}
            <div class="content-box h-[20rem] w-[35rem]">
                <p>Backlog card</p>
                <div class="h-5/6 grid divide-y divide-slate-300 divide-dashed">
                    <div class="flex justify-between h-[4rem]">
                        <img src="../src/icons/check-circle.svg" width="30px"/>
                        <p class="flex items-center font-medium text-md text-slate-600">Task</p>
                    </div>
                    <div class="flex justify-between h-[8rem]">
                        <img src="../src/icons/information-circle.svg" width="30px"/>
                        <p class="flex items-center font-medium text-md text-slate-600">Details</p>
                    </div>
                    <div class="flex justify-between h-[4rem]">
                        <img src="../src/icons/flag.svg" width="30px"/>
                        <p class="flex items-center font-medium text-md text-slate-600">Deadline</p>
                    </div>
                </div>
            </div>
        {% endfor -%}
    </div>
    {% set curr_template = "inbox" %}
    {% include 'page_footer.html' %}
</div>