{% for month_num in range(1, 13) -%}
    {% set id = year ~ '-' ~ ('%02d' % month_num) %}
    {% include 'page_header.html' %}
    <div class="content-around p-4">
        <div class="flex justify-between text-2xl mb-4">
            <div class="flex gap-2 font-semibold pl-3">
                  <p>{{ year }}</p>
                  <img src="../src/icons/arrow-right.svg" width="25px"/>
                  <p class="text-indigo-600">{{ calendar.month_name[month_num] }}</p>
            </div>
            <div class="flex justify-between w-14">
                <div class="absolute right-14">
                    {% if month_num != 1 %}
                        <a href="#{{ year }}-{{ '%02d' % (month_num - 1) }}">
                            <img src="../src/icons/arrow-left-circle.svg" width="35px"/>
                        </a>
                    {% endif %}
                </div>
                <div>
                    {% if month_num != 12 %}
                        <a href="#{{ year }}-{{ '%02d' % (month_num + 1) }}">
                            <img src="../src/icons/arrow-right-circle.svg" width="35px"/>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="content-center">
            <div class="flex ml-[5rem] text-slate-500 text-xl">
                {% for abbr in calendar.day_name -%}
                    <div class="w-[15rem] text-center">{{ abbr }}</div>
                {% endfor -%}
            </div>
            {% for week in calendar.Calendar().monthdatescalendar(year, month_num) -%}
                <div class="flex h-[10rem]">
                    {% set week_num = week[0].isocalendar().week %}
                    <div class="w-[5rem] text-xl mt-16 {{ "text-slate-300" if week[0].year != week[-1].year }}">
                        <a href="#{{ week[0].year if week[-1].year != (year + 1) else week[-1].year }}-{{ 'W%02d' % week_num }}">
                            <p class="-rotate-90">
                                Week {{ week_num }}
                            </p>
                        </a>
                    </div>
                    <div class="grid grid-cols-7 gap-4 items-stretch font-medium p-2">
                    {% for date in week -%}
                        <div class="w-[14rem] p-4 rounded-xl shadow-inner bg-zinc-200">
                            <p class="{{ "text-slate-500" if date.month != month_num }}">
                                <a href="#{{ ('%02d-%02d-%d' % (date.day, date.month, date.year)) }}">
                                    {{ date.day }}
                                </a>
                            </p>
                        </div>
                    {% endfor -%}
                    </div>
                </div>
            {% endfor -%}
        </div>
    </div>
    {% include 'page_footer.html' %}
{% endfor -%}