{% import 'components/calendar_page_header.html' as cph %}
{% import 'components/calendar_pages_navigation.html' as cpn %}
{% for month_num in range(1, 13) -%}
    {% set months_loop = loop %}
    {% for week in calendar.Calendar().monthdatescalendar(year, month_num) -%}
        {% set week_num = week[0].isocalendar().week %}
        {% set id = (week[0].year if week[-1].year != (year + 1) else week[-1].year) ~ '-' ~ ('W%02d' % week_num) %}
        {% include 'page_header.html' %}
        <div class="h-full content-around p-4">
            <div class="flex justify-between text-2xl mb-4">
                {{ cph.calendar_page_header([
                        week[0].year,
                        calendar.month_name[week[0].month],
                        week[0].day ~ ' - ' ~ week[-1].day
                ]) }}
                {{ cpn.calendar_pages_navigation(
                        not (months_loop.first and loop.first),
                        (loop.previtem[0].year if loop.previtem is defined else week[0].year) ~ '-' ~ 'W%02d' % (week_num - 1 if week_num != 1 else 52),
                        not (months_loop.last and loop.last),
                        (loop.nextitem[-1].year if loop.nextitem is defined else week[-1].year) ~ '-' 'W%02d' % (week_num % 52 + 1)
                ) }}
            </div>
            <div class="grid grid-cols-2 gap-4 text-xl font-semibold">
                <div class="grid gap-y-4">
                    {% for weekday_num in range(7) -%}
                        {% set date = week[weekday_num] %}
                        <div class="h-[8rem] flex justify-between p-4 rounded-xl shadow-inner bg-zinc-200">
                            <a href="#{{ ('%02d-%02d-%d' % (date.day, date.month, date.year)) }}">
                                <p class="{{ "text-slate-500" if date.year != year }}">
                                    {{ date.day }} {{ calendar.day_name[weekday_num] }}
                                </p>
                            </a>
                        </div>
                    {% endfor -%}
                </div>
                <div class="grid gap-y-4">
                    <div class="h-[8rem] p-4 rounded-xl shadow-inner bg-zinc-200">Weekly main focus</div>
                    <div class="h-[17rem] p-4 rounded-xl shadow-inner bg-zinc-200">
                        Weekly priorities
                        <div class="h-5/6 grid divide-y divide-slate-300 divide-dashed">
                            {% for _ in range(4) -%}
                                <div class="p-3">⬜️</div>
                            {% endfor %}
                            <div></div>
                        </div>
                    </div>
                    <div class="h-[35rem] p-4 rounded-xl shadow-inner bg-zinc-200">Notes</div>
                </div>
            </div>
            {% include 'page_footer.html' %}
        </div>
    {% endfor -%}
{% endfor -%}