{% for month_num in range(1, 13) -%}
    {% set months_loop = loop %}
    {% for week in calendar.Calendar().monthdatescalendar(year, month_num) -%}
        {% set week_num = week[0].isocalendar().week %}
        {% set id =  (week[0].year if week[-1].year != (year + 1) else week[-1].year) ~ '-' ~ ('W%02d' % week_num) %}
        {% include 'page_header.html' %}
        <div class="h-full grid grid-cols-1 gap-4 content-around p-4">
            <div class="flex justify-between text-2xl">
                <div class="flex gap-2 font-semibold pl-3">
                    <p>{{ week[0].year }}</p>
                    ➡️
                    <p>{{ calendar.month_name[week[0].month] }}</p>
                    ➡️
                    <p class="text-indigo-600">{{ week[0].day ~ ' - ' ~ week[-1].day }}</p>
                </div>
                <div class="flex justify-between w-14">
                    <div class="absolute right-14">
                        {% if not (months_loop.first and loop.first) %}
                            <a href="#{{ loop.previtem[0].year if loop.previtem is defined else week[0].year }}-{{ 'W%02d' % (week_num - 1 if week_num != 1 else 52) }}">
                                ⬅️
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        {% if not (months_loop.last and loop.last) %}
                            <a href="#{{ loop.nextitem[-1].year if loop.nextitem is defined else week[-1].year  }}-{{ 'W%02d' % (week_num % 52 + 1) }}">
                                ➡️
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 text-xl font-semibold">
                <div class="grid gap-y-4">
                    {% for weekday_num in range(7) -%}
                        <div class="h-[8rem] p-4 rounded-xl shadow-inner bg-zinc-200">
                            <p class="{{ "text-slate-500" if week[weekday_num].year != year }}">
                                {{ week[weekday_num].day }} {{ calendar.day_name[weekday_num] }}
                            </p>
                        </div>
                    {% endfor -%}
                </div>
                <div class="grid gap-y-4">
                    <div class="h-[8rem] p-4 rounded-xl shadow-inner bg-zinc-200">Weekly main focus</div>
                    <div class="h-[17rem] p-4 rounded-xl shadow-inner bg-zinc-200">
                        Weekly priorities
                        <div class="h-5/6 grid divide-y divide-slate-300 divide-dashed">
                            {% for _ in range(4) -%}
                                <div class="p-3">⬜️</div>
                            {% endfor %}
                            <div></div>
                        </div>
                    </div>
                    <div class="h-[35rem] p-4 rounded-xl shadow-inner bg-zinc-200">Notes</div>
                </div>
            </div>
            <div class="absolute inset-x-0 bottom-2 flex justify-center items-stretch gap-6">
                <img src="../src/icons/calendar.svg" width="40"/>
                <div class="text-2xl">🔘</div>
                <div class="text-2xl">🔘</div>
                <div class="text-2xl">🔘</div>
                <div class="text-2xl">🔘</div>
            </div>
        </div>
        {% include 'page_footer.html' %}
    {% endfor -%}
{% endfor -%}