@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: 11.7in 8.27in;
    margin: 0;
    padding: 0;
}

.content-box {
    @apply p-2 rounded-xl border-2 border-indigo-300/50 bg-zinc-100;
}

.color-header {
    @apply text-xl font-semibold text-indigo-600 dark:text-indigo-400;
}