@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: 18.83in 11.77in;
    margin: 0;
    padding: 0;
}

.content-box {
    @apply p-4 rounded-xl shadow-xl dark:shadow-md bg-zinc-100 dark:shadow-white/30 dark:bg-black/10;
}

.color-header {
    @apply text-2xl font-semibold text-indigo-600 dark:text-indigo-400;
}